
#map {
    width: 70%;
    height: 80%;
    filter: drop-shadow(0 0 0.75rem black);
}

nav {
    height: 3%;
    background: darkslategrey;
}

footer {
    height: 3%;
    background: darkslategrey;
}

#map-container {
    height: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #3b5372d6;
}

/* necessary to give map a height in percentage */
html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}